.header {
  display: flex;
  background: #092a5e;
  color: white;
  font-size: 1.2em;
  text-transform: uppercase;
}

.hotel {
  display: flex;

  &:nth-child(2n + 1) {
    background-color: #eee;
  }

  &:last-child {
    border-bottom: 1px solid #ddd;
  }
}

.listElement {
  flex-basis: 25%;
  padding: 20px;
  border-right: 1px solid #ddd;
  text-align: center;

  &:last-child {
    border: none;
  }
}

.status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 0;
}

.totalHotelsCount {
  padding: 8px 0;
  text-align: right;
}

.fetchingIndicator {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;  
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
}


.hotelsList {
  position: relative;
  min-height: 300px;
}